input.num_screen, select.num_screen_conds {
    width: 50px;
    /*float: right;*/
}

select.num_screen_opts {
    width: 150px;
    /*float: right;*/
}

label.num_screen {
    display:inline-block;
}

#num_screen_buts {
    vertical-align:top;
    margin: 10px;
}

#run_screen_button {
    vertical-align:top;
    margin: 10px;
}

#get_data_button {
    vertical-align:top;
    margin: 10px;
}

div#filters {
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
}

