body {
    background-color: LightSteelBlue;
}

label.eqanal {
    font-size : 13px;
    padding : 2px;          /* distance between the text and the border */
    margin : 3px;          /* distance between border and surrounding elements */
    color : white;
    width : 200px;
}

#input_div {
    background-color: navy;
    border-color : black;
    border-width : 5%;
    border-style : solid;
    border-radius : 4px;
    padding : 15px;     
    margin : 20px;      
    margin-bottom : 40px;
    width : 300px;
}

.opt_fields {
    margin : 3px;
    width : 150px;
}
