body {
    background-color: LightSteelBlue;
}

input.num_screen, select.num_screen_conds {
    width: 50px;
    /*float: right;*/
}

select.num_screen_opts {
    width: 150px;
    /*float: right;*/
}

label.num_screen {
    display:inline-block;
}

#num_screen_buts {
    vertical-align:top;
    margin: 10px;
}



