/* All elements inherit attributes from body unless overwritten */
body {
    background-color: LightSteelBlue;
    /*background-color: #000000; (aka black) --> can use hex for colors*/
    /*background-color: #F00; (aka red) --> or short hex*/
    /*background-color: rgb(255, 255, 255); (aka white) --> or rgb*/
}

label.opt_labels { 
    display : inline-block;
    font : sans-serif, Helvetica;
}

div.opt_input_div {
    width : 500px;
    color: white;
}

/* This will override anything inherited from class or body
Inheritance:  1. "important!' 2. Inline  3. ID  4. Class  
5. Inherited Value from element above */
#opt_input_field_div {
    background-color: navy;
    border-color : black;
    border-width : 5%;
    border-style : solid;
    border-radius : 4px;
    padding : 15px;          /* distance between the text and the border */
    margin : 20px;          /* distance between border and surrounding elements */
    margin-bottom : 40px;   /* padding / margin : 10px 20px 10px 20px; --> Can do it like this to specify for each side */
}

.vanilla_buttons {
    margin-bottom : 20px;
}

.opt_img {
    width : 300px;
}


