#option_vanilla_calc_button {
    margin : 10px;
}

label.opt_labels { 
    display : inline-block;
    font : sans-serif, Helvetica;
}

div.opt_input_div {
    width : 500px;
    border-color : maroon;
    border-width : 5%;
    border-style : solid;
    border-radius : 4px;
}

.vanilla_buttons {
    margin-bottom : 20px;
}

.opt_img {
    width : 300px;
}


