<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link href="/static/css/equity_analysis.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="www.justinaguilar.com/animations/css/animations.css" />
    <script src="/static/js/equity_analysis.js"></script>
    
    <div class="container-fluid">
        <h1 class="text-primary text-center">Equity Analysis</h1>
        <div id=input_div>
            <div class="row">
                <div class="col-xs-3">
                    <label class="eqanal">Ticker:</label>
                </div>
                <div class="col-xs-3">
                    <input type="text" class='opt_fields' required id='ticker' value=""/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <label class="eqanal">Chart Set:</label>
                </div>
                <div class="col-xs-3">
                    <select class='opt_fields' required id='chart' value="">
                        <option value="CP1">Chart Pack 1</option>
                        <option value="CP2">Chart Pack 2</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <label class="eqanal">Date:</label>
                </div>
                <div class="col-xs-3">
                    <input type="date" class='opt_fields' required id='ticker' value=""/>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


