<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <link href="/static/css/equity_screener.css" rel="stylesheet" type="text/css">
    <script src="/static/js/equity_screener.js"></script>
    <div>
        <button id="run_screen_button" onclick="run_screening(event, '{{ SECRET_KEY }}');">Run Screener</button>
        <button id="get_data_button" onclick="get_data(event, '{{ SECRET_KEY }}');">Get Data</button>
    </div>
    <div id='filters'>
        {% for key, val in num_screen_vals.items() %}
            <span class='num_screen' id='{{ key }}'>
                <label class='num_screen'>{{ val }}</label>
                <select class='num_screen' id='{{ key }}'>
                  <option value="=">=</option>
                  <option value="<"><</option>
                  <option value=">">></option>
                </select>
                <input type="text" class='num_screen' id='{{ key }}' value =""/>
            </span>
            <div></div>
        {% endfor %}
    </div>
    <div id="jqxgrid"></div>
{% endblock %}