<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <link href="/static/css/equity_analysis.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="www.justinaguilar.com/animations/css/animations.css" />
    <script src="/static/js/equity_analysis.js"></script>
    
    <div class="container-fluid">
        <h3 class="text-primary text-center">Equity Analysis</h3>
    </div>

{% endblock %}