<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
    <!--links to boot strap responsive design and awesome fonts-->
    <!--http://fontawesome.io/icons/  to see icon options -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link href="/static/css/opt_vanilla.css" rel="stylesheet" type="text/css">
    <script src="/static/js/opt_vanilla.js"></script>
    
    <!--Need container-fluid to use responsive design with bootstrap-->
    <div class='container-fluid'>
        <h2 class='text-center text-primary'>Option Pricing</h2>
        <img class='opt_img img-responsive' src="/static/img/vol_smile.png">
        <div class="row">
            <!--"btn" is the button class for bootstrap -->
            <!--col-*-* is how bootstrap organizes a grid -->
            <div class="col-xs-2"><button id="opt_vanilla_calc" class='vanilla_buttons btn btn-primary' onclick="opt_vanilla_calc(event, '{{ SECRET_KEY }}');">Calculate  <i class='fa fa-calculator'></i></button></div>
            <div class="col-xs-2"><button id="opt_vanilla_surface" class='vanilla_buttons btn btn-info' onclick="">Volatility Surface  <i class='fa fa-area-chart'></i></button></div>
        </div>
        <div id=opt_input_field_div>
                <span><label><a href='https://www.amazon.com/Options-Futures-Other-Derivatives-6th/dp/0131499084'>Hull Book for reference</a></label></span>
            <div class='opt_input_div'>
                <input type="radio" name="calc" value="prem" checked> Calc Prem<br>
                <input type="radio" name="calc" value="vol"> Calc Vol<br>
            </div>
            <div class='opt_input_div'>
                <label class='opt_labels'>Option Type</label>
                <select class='opt_fields' id='call_put'>
                    <option value="C">Call</option>
                    <option value="P">Put</option>
                </select>
            </div>
            <div class='opt_input_div'>
                <label class='opt_labels'>Underlying</label>
                <input class='opt_fields' type="text" required id='underlying_val' value ="100"/>    
            </div>
            <div class='opt_input_div'>
                <label class='opt_labels'>Strike</label>
                <input class='opt_fields' type="text" required id='strike_val' value ="100"/>
            </div>
            <div class='opt_input_div'>
                <label class='opt_labels'>Interest Rate</label>
                <input class='opt_fields' type="text" id='ir_val' value ="0.02"/>
            </div>
            <div class='opt_input_div'>
                <label class='opt_labels'>Continuous Dividend Rate</label>
                <input class='opt_fields' type="text" id='div_val' value ="0"/>
            </div>
            <div class='opt_input_div'>
                <label class='opt_labels'>Tenor</label>
                <input class='opt_fields' type="text" required id='tenor_val' value ="1"/>
            </div>
            <div class='opt_input_div'>
                <label class='opt_labels'>Volatility</label>
                <input class='opt_fields' type="text" id='vol_val' value ="0.3"/>
            </div>
            <div class='opt_input_div'>
                <label class='opt_labels'>Premium</label>
                <input class='opt_fields' type="text" id=prem_val />
            </div>
        </div>
    </div>
    
{% endblock %}